#ignore files general
**/*.log
**/*.vagrant
*workspace.code-workspace
**/*.vdi

#security
**/authorized_keys
**/*.pub
**/*.ppk
**/*private*
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
!Klpic2.com.br.+013+29838.private
security/*
!security/README.md

#Linux kernel
**/Kernel

#Apps
*.exe

#Bind
vagrant/bind/test/*
!vagrant/bind/test/.gitkeep
!vagrant/bind/test/check-bind-stack.txt

#Slack
Slack/silvestrini.py
*__pycache__*



### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Locks
*.lock.hcl

# End of https://www.toptal.com/developers/gitignore/api/terraform